[data-box-shadow="shadow-none"] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

[data-theme="light-mode"] [data-box-shadow="shadow-sm"] {
    -moz-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
}

[data-box-shadow="shadow-sm"] {
    -moz-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
}

[data-theme="light-mode"] [data-box-shadow="shadow"] {
    -moz-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
}

[data-box-shadow="shadow"] {
    -moz-box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
}

[data-theme="light-mode"] [data-box-shadow="shadow-lg"] {
    -moz-box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
}

[data-box-shadow="shadow-lg"] {
    -moz-box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.4rem 1.2rem rgba(226, 206, 206, 0.4);
}