
h1,h2,h3,h4,h5,h6,p{
    /*We are facing an issue here. since heading will be inside list a times, and list are inline block
     the display property of text gets overwritten.*/
    display: block;  
}
h1 {
    font-family: var(--font-primary);
    font-size: var(--text-gigantic);
    font-weight: bold;  
    line-height: 1.21;
    padding-top: 1.55vh;
    padding-bottom: 1.55vh;  
}


h2 {
   
    font-style: italic;
    font-family: var(--font-secondary);
    font-weight: thin;
    font-size: var(--text-normal);
    font-weight: 100;
    color: var(--light);
    padding-top: 1.55vh;
    padding-bottom: 1.55vh;
    
}

h3 {
    display: block;
    font-size: var(--text-large);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: var(--text-normal);
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: var(--text-smallest);
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
   
}



p{
    padding-top:5vh;
    padding-left:5vh;
    padding-top:5vh;
    display: block;
    max-width: 89%;
    font-size: var(--text-small);
    font-family: var(--font-secondary);
    line-height: 1.5;

}

